.user-component{
    justify-content: space-between;
}

.user-component,
.user-component__column:first-child{
    display: flex;
    align-items: center;
}

.user-component__avatar{
    width:68px;
    height: 68px;
    border-radius: 26px;
    margin-right: 20px;
}

.user-component__title{
    font-weight: 600;
    font-size: 22px;
}

.user-component__subtitle{
    margin-top: 8px;
    color: rgba(0,0,0,0.6);
    font-size: 17px;
}

.user-component__avatar--xl{
    width:78px;
    height: 78px;
}

.user-component__avatar--sm{
    width: 58px;
    height: 58px;
    border-radius: 22px;
}

.user-component__title--not-bold{
    font-weight: 500;
}

.friends-screen__channel{
    margin-top: 22px;
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 15px;
}

.user-component__column:last-child{
    color:rgba(0,0,0,0.5);
}