.user-component{
    justify-content: space-between;
    margin-top: 15px;
}
.user-component__column{
    margin-bottom: 10px;
}

.user-component,
.user-component__column:first-child{
    display: flex;
    align-items: center;
}

.user__component__number{
    display: flex;
    position: relative;
}

.user__component__number i{
    color:red;
    position: absolute;
    left: 128px;
    top: 10px;
    font-size: 14px;
}

.user-component__avatar{
    width:58px;
    height: 58px;
    border-radius: 22px;
    margin-right: 20px;
}

.user-component__title{
    font-weight: 600;
    font-size: 22px;
}

.user-component__subtitle{
    margin-top: 8px;
    color: rgba(0,0,0,0.6);
    font-size: 17px;
}

.user-component__avatar--xl{
    width:68px;
    height: 68px;
}

.user-component__avatar--sm{
    width: 48px;
    height: 48px;
    border-radius: 18px;
}

.user-component__title--not-bold{
    font-weight: 500;
    font-size: 18px;
}

.user-component__column:last-child{
    color:rgba(0,0,0,0.4);
    /*이 부분이 chats.html의 badge부분*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-component__time{
    display: block;  /*span은 box가 아니어서 margin은 줄 수 없기에,,*/
    margin-bottom: 10px;
}