.nav{
    position: fixed;
    bottom: 0;
    width: 100%;  /*화면 움직여도 아래에 고정, 넓이는 전체*/
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;  /*content부분을 늘리지 않고, 지정한 길이내에서 padding을 줌*/
    border-top: 1px solid rgba(121,121,121, 0.2);
}
.nav__list{
    display: flex;
    justify-content: space-between;
}

.nav__link{
    position: relative;
    color: #2e363e;
}

.nav_notification {
    background-color: tomato;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position: absolute;  /*가장 가까운 relative를 가진 부모 기준으로 움직임, 부모에게 position: relative; 해줄 것*/
    left: 20px;
    bottom: 14px;
}

.nav__dot {
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    left: 28px;
}